.BuildControls {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 3px 3px 6px #ccc;
  margin: auto;
  padding: 20px 0;
}

.PriceLabel {
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.Price {
  font-size: 3em;
  line-height: 1;
  padding: 0;
  margin: 0 0 15px 0;
}

.OrderButton {
  background-color: #ffc107;
  outline: none;
  cursor: pointer;
  border: 1px solid #ffc107;
  color: #212529;
  font-family: inherit;
  font-size: 1.1em;
  padding: 15px 25px;
  margin-top: 20px;
  box-shadow: 2px 2px 2px #ccc;
}

.OrderButton:hover, .OrderButton:active {
  background-color: #e0a800;
  border: 1px solid #e0a800;
  color: #212529;
}

.OrderButton:disabled {
  background-color: #C7C6C6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

@media (min-width: 1001px) {
  .BuildControls {
    width: 50%;
  }
}