.Button {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: #fff;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 13px 20px;
  margin: 8px;
}

/* .Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
} */

.Button:disabled {
  background-color: #C7C6C6;
  color: #888;
  cursor: not-allowed;
}

.Success {
  background-color: #28a745;
}

.Danger {
  background-color: #dc3545;
}

.Link {
  color: #007bff;
}